.ALL{
    margin: 26px var(--col1) 0px;
    justify-content: space-around;
}
@media screen and (max-width: 1024px){
    .ALL{
    height: 460px;
    overflow: hidden;
    margin: 0 0 0 0;
    }
}
.ALL article{
    width: var(--col2);
    height: var(--col2);
    margin-top: calc(var(--col1)*1/3);
    border: 1px solid;
}