:root {
    --theme: green;
    --theme_background: var(--theme);
    --background: white;
    --col1 : 8.33vw;
    --col2 : 16.66vw;
    --col3 : 25vw;
    --col4 : 33.33vw;
    --col5 : 41.66vw;
    --col6 : 50vw;
    --col7 : 58.33vw;
    --col8 : 66.66vw;
    --col9  : 75vw;
    --col10 : 83.33vw;
    --col11 : 91.66vw;
    --col12 : 100vw;
}
* {
    box-sizing: inherit;
    background-color: inherit;
    color: inherit;
    position: relative;
}

body {
    background-color: var(--background);
    width: 100%;
    color: var(--theme);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    box-sizing: border-box;
    position: relative;    
}

body::-webkit-scrollbar {
    display: none;
}

[class*="col-"] {float: left;}
.col-1 {width: 8.33vw !important; }
.col-2 {width: 16.66vw !important;}
.col-3 {width: 25vw  !important;}
.col-4 {width: 33.33vw  !important;}
.col-5 {width: 41.66vw  !important;}
.col-6 {width: 50vw  !important;}
.col-7 {width: 58.33vw  !important; }
.col-8 {width: 66.66vw  !important;}
.col-9 {width: 75vw  !important;}
.col-10 {width: 83.33vw  !important;}
.col-11 {width: 91.66vw  !important;}
.col-12 {width: 100vw  !important;}

.grid__row {
    display: flex;
    flex-wrap:wrap;
}


/* cua header */

header {
    height: 80px;
    border-bottom: 1px solid;
}

#header__div__home__pages {
    height: 100%;
    display: flex;
}

#header__div__home__pages h1 {
    margin: auto;
}

.body {
    border: 1px solid ;
}


/* done */

.done {
    height: 460px;
    margin-top: 26px;
    display: flex;
    flex-wrap: nowrap;
    /* chỉnh lại sau */
}
/* stich */

#dithamquan h1 {
    position: relative;
    background: none;
    width: 60%;
    padding: 10px;
    color: white;
    font-size: 100%;
}

#Stitch {
    position: relative;
    width: 40%;
    float: right;
}

#dithamquan {
    background-color: var(--theme);
    border-radius: 5px;
    position: fixed;
    display: flex;
    z-index: 1;
    width: 15%;
    bottom: 0;
    right: 0;
    animation-name: Stitch;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes Stitch {
    from {}
    to {
        transform: scale(1.1, 1.1);
    }
}

/*  nhap nhay style */

@keyframes NhapNhay {
    from {
        opacity: .4
    }
    to {
        opacity: 1.0
    }
}
