.buttonclassic{
    background: var(--theme);
    opacity: 1.0;
    border:none;
    border-radius: 5px;
    outline:none;
    padding: 12px;
    font-weight: bold;
    font-size: 14px;
    color: white;
}
.buttonclassic:hover
{
    opacity: 0.8;
}
.X button {
    position: absolute;
    top: 0;
    right: 0;
    outline-color: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}
 .X button i{
    color: red;
    opacity: 0.8;
}
 .X button i:hover{
    size: 50px;
    opacity: 1.0;
}
.buttonGreen{
    background-color: var(--theme);
    padding: 8px;    
    font-size: 100%;
    color: white;
}
.buttonGreen:hover{
    background-color: rgb(35, 148, 44);
}