.day button{
        position: absolute;
        background: blue;
        opacity: 0.9;
        border:none;
        border-radius: 5px;
        outline:none;
        padding: 12px;
        font-weight: bold;
        font-size: 14px;
        color: white;
    }
.day button:hover
{
        opacity: 1.0;
        color: red;
    }