/* cua done */
.done article {
    height: 460px;
    width: 460px;
    flex-shrink: no;
}
/* ben trong main done */
.maindone {
    display: flex;
    justify-content: space-between;
}
.windownAchive {
    border: 1px solid;
    height: 460px;
    width: 460px;
    margin: auto;
    max-width: 100%;
}
.btn-displaybar {
    flex: 1;
    color: var(--theme);
    border: none;
    outline: none;
    font-size: 5vw;
}
/* tim kiem */

.biglogo {
    width: 100%;
    display: flex;
}

.biglogo_imgLogo {
    width: 45%;
    margin: auto;
}

.search {
    margin: auto;
    border: 1px solid var(--theme);
    border-radius: 3px;
    width: 84%;
    margin-top: 5%;
    height: 10%;
    padding: 0.2em;
    display: flex;
    align-items: center;
}

.search_input {
    flex: 1;
    border: none;
    outline: none;
}

.ngan {
    background-color: var(--theme);
    height: 30px;
    width: 1px;
    opacity: 0.8;
    margin: 3px;
}

.search_funtionce {
    margin: 3px;
    display: inline-block;
    position: relative;
}

.timkiem_icon {
    margin: 3px;
    background-color: var(--theme);
    color: var(--theme-text);
    width: 50px;
    height: 40px;
    position: relative;
}

.search_funtionce_select {
    position: relative;
}

.search_funtionce_option {
    position: absolute;
    top: 100%;
    right: 0;
    list-style-type: none;
    width: 130px;
    box-shadow: 0 0 3px #CCC;
    padding: 0;
    display: none;
    transition-duration: 1s;
}

.search_funtionce_option_item {
    padding: 3px;
}

.search_funtionce_option_item span {
    margin: 4px;
    font-size: 14px;
    text-align: left;
}

.search_funtionce_option_item i {
    float: right;
    margin: 0 4px 0 12px;
    color: var(--theme);
    display: none;
}

.search_funtionce_option_onactive i {
    display: inline-block;
}

.search_funtionce:hover .search_funtionce_option {
    display: block;
}

.search_funtionce_select::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 20px;
    top: 100%;
}


/* style cua login */

#dangNhap {
    width: 100%;
    height: 100%;
    padding: 6%;
    font-size: 100%;
}

#loginHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
}

#buttonDangKy {
    font-size: 100%;
    padding: 5%;
}

#formDangNhap {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15%;
}

#formDangNhap input {
    padding: 4%;
    margin: 4%;
}

#loginSupport {
    margin-top: 16%;
    width: 100%;
    height: 15%;
    text-align: right;
}

#loginSocial {
    margin-top: 0% 15%;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#loginSocial :nth-child(n) {
    padding: 1%;
    font-size: 100%;
    font-weight: 10%;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* style cua buble head */

#bubble img {
    width: 90%;
    height: 100%;
    transition-duration: 1s;
}

.leftrotate {
    transform: rotate(-15deg);
}

.rightrotate {
    transform: rotate(15deg);
}


/* sytle of done  */


/* plush */

#testPlush {
    width: 100%;
    display: flex;
}

#caigiday {
    width: 100%;
    height: 250px;
    background-color: blue;
    transition-duration: 1s;
}

#daysang {
    width: 0%;
    height: 250px;
    background-color: purple;
    transition-duration: 1s;
}