
#KeoBuaBao {
    margin: 0;
    text-align: center;
    background-image: url("img/article/gamebackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.timing {
    width: 50%;
    position: absolute;
    left: 25%;
    top: 10%;
    display: none;
    animation-name: zoomin;
    animation-duration: 1s;
}

@keyframes zoomin {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(0, 0);
    }
}

#startGameSSP {
    position: absolute;
    top: 40%;
    left: 40%;
    border-radius: 8px;
    font-size: 150%;
}
#Choice {
    position: absolute;
    top: 65%;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    display: none;
}

.playerChoice {
    width: 25%;
    height: 100%;
    opacity: .8;
}
.playerChoice:hover{
    opacity: 1;
    transform: scale(1.2,1.2);
    border: 2px solid yellow;
}
#showComputerChoice{
    width: 45%;
    height: 45%;
    position: absolute;
    left: 2.5%;
    top: 10%;
}
#showHumanChoice{
    width: 45%;
    height: 45%;
    position: absolute;
    right: 2.5%;
    top: 10%;
}
#buttonOkeSSP{
    position: absolute;
    display: block;
    top: 65%;
    left: 40%;
    background-color:var(--theme);
    padding: 4px;
    font-size: 2vw;
    display: none;
}

#buttonOkeSSP:hover {
    background-color: blue;
}
#computerh2{
    position: absolute;
    top:0.5%;
    left: 5%;
    font-size: 100%;
    color: red;
}
#humanh2{
    position: absolute;
    top:1%;
    right: 5%;
    font-size: 100%;
    color: blue;
}
#result{
    position: absolute;
    top: 70%;
    left: 36%;
    font-size: 200%;
    color: yellow;
    background-color: purple;
    padding: 4px;
    border: 3px solid var(--theme);
}