.more{
}    
article{
    position: relative;
    background-color: white;
    margin-top: 30px;
    width: 250px;
    height: 250px;
    outline-color: black;
    border-radius: 5%;
    /* background-position:center; */
    overflow: hidden;
    background-size: cover;
}
article h1{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 8px 8px;
    top: 75%;
    left: 10%;
    background-color: rgb(59, 197, 31);
    display: block;
    border-radius: 8px;
}
