.Tạo {
    background-image: url(img/article/bóp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}
.Tạo img{
    width: 100%;
    height: 100%;
}
.Tạo  area{    
    display: block;
    border: 3px solid black;
    outline-color: blue;
}